<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
<div class="content-wrapper">
  {% include "header.html" %}
  <div class="container col-xxl-10 px-3 py-5">
    <div class="row align-items-center g-4 py-4">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="display-5 fw-bold text-body-emphasis mb-3">Custom 3D Printing</h1>
            <p class="white-color fs-5">PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE PUT TEXT HERE </p>
        </div>
        <div class="col-md-8 col-lg-5 mx-auto">
            <img src="{{ url_for('static', filename='assets/img/custom_3d.jpg')}}" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
{% include "footer.html" %}
</div>
