<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
<div class="content-wrapper">
  {% include "header.html" %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='assets/logo.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="South Peake Logo" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">South Peake</h1>
        <p class="white-color lead">At South Peake, we believe every idea deserves to become a reality. Whether it’s a creative concept, a technical challenge, or a vision for something entirely new, our mission is to bring your dreams to life with precision and care. From ideation to execution, we are committed to providing the tools, expertise, and innovative solutions necessary to make your ideas tangible and impactful. Whatever your goals, we’re here to transform possibilities into achievements.</p>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</div>