<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% from "bootstrap5/form.html" import render_form %}
 
{% include "header.html" %}

<div class="container text-center">
    {% if products == [] %}
        <h3>There are no products yet, please check back later.</h3>
    {% else %}
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for product in products %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static', filename=product.images[0].img1 ) }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body">
                                <h5 class="card-title">{{ product.name }} - ${{ product.price }}</h5>
                                <p class="card-text">{{ product.short_description }}</p>
                                <a href="{{ url_for('specific_item', id=product.id) }}" class="btn btn-primary">Product Gallery</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% include "footer.html" %} 