<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
{% from "bootstrap5/form.html" import render_form %} 
<div class="content-wrapper">
  {% include "header.html" %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <p class="white-color fs-5">{{ summary|replace('\n', '<br>')|safe }}</p>
        {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <p class="white-color fs-5">{{ message }}</p>
    </div>
</div>
{% include "footer.html" %}
</div>